{% extends 'accounts/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block right_content %}

  <!-- Label -->
  <span class="login100-form-title p-b-34">
    Account SignUp
  </span>

  <!-- Forms -->
  {{ wizard.management_form }}
  {% for field in wizard.form %}
    <div class="wrap-input100 rs1-wrap-input100 m-b-20">
      {{ field }}
      <span class="focus-input100"></span>
    </div>
  {% endfor %}

  <!-- Buttons -->
  {% if wizard.steps.next %}
    <div class="container-login100-form-btn">
      <button type="submit" value="{{ wizard.steps.next }}" class="login100-form-btn">Next step</button>
    </div>
  {% else %}
    <div class="container-login100-form-btn">
      <div class="split-left">
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="login100-form-btn" formnovalidate>Prev step</button>
      </div>
      <div class="split-right">
          <button type="submit" class="login100-form-btn">Sign up</button>
      </div>
    </div>
  {% endif %}

  <!-- Label Link -->
  <div class="w-full text-center p-t-27 p-b-239">
  </div>

  <!-- Footer Link -->
  <div class="w-full text-center">
    <a href="{% url 'login' %}" class="txt3">
      Login
    </a>
  </div>

{% endblock %}
