<div class="product">
  <div class="product-img">
    <img src="/static/shop/img/modelos/{{ e.1 }}.jpg" alt="">
    {% if e.5 != 0 %}
      <div class="product-label">
        {% if e.5 >= 50 %}
          <span class="new">Best Offer</span>
        {% endif %}
        <span class="sale">-{{ e.5 }}%</span>
      </div>
    {% endif %}
  </div>
  <div class="product-body">
    <p class="product-category">{{ e.2 }}</p>
    <h3 class="product-name"><a href="{% url 'get_modelo' e.0 %}">{{ e.1 }}</a></h3>
    {% if e.5 == 0 %}
      <h4 class="product-name">${{ e.3 }}</h4>
    {% else %}
      <h4 class="product-price">${{ e.4 }} <del class="product-old-price">${{ e.3 }}</del></h4>
    {% endif %}
  </div>
  <div class="add-to-cart">
    <a href="{% url 'get_modelo' e.0 %}"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> ver mais</button></a>
  </div>
</div>
