{% load form_tags %}

{% csrf_token %}

{% for field in form %}
<div class="form-group">

  {% if field.name == 'username' %}
  <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
    {{ field|add_css:"input100,User name"}}
    <span class="focus-input100"></span>
  </div>
  {% endif %}

  {% if field.name == 'password1' %}
  <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
    {{ field|add_css:"input100,Password"}}
    <span class="focus-input100"></span>
  </div>
  {% endif %}

  {% if field.name == 'email' %}
  <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type email">
    {{ field|add_css:"input100,Email"}}
    <span class="focus-input100"></span>
  </div>
  {% endif %}

</div>
{% endfor %}
