{% extends 'shop/base.html' %}
{% load static %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-7">
					<!-- Billing Details -->
					<div class="billing-details">
						{% block form_group_1 %}
						{% endblock %}
					</div>
					<!-- /Billing Details -->

					{% block form_group_2 %}
					{% endblock %}
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
{% endblock %}
