{% extends 'shop/base.html' %}
{% load static %}

{% block breadcrumb %}
{% endblock %}

{% block content %}

  <h2 class="product03">{{ cliente.nome }}</h2>
  <h3 class="product-name">{{ cliente.datanascimento }}</h3>
  <br/>
  <h3 class="product-name">{{ cliente.rua }}</h3>
  <h3 class="product-name">{{ cliente.codigopostal }}</h3>
  <br/>
  <h3 class="product-name">{{ cliente.telefone }}</h3>
  <h3 class="product-name">{{ cliente.email }}</h3>

  <br/>
  <br/>

  <div class="add-to-cart">
    <a href="#"><button class="add-to-cart-btn"><i class="fa fa-edit"></i> edit</button></a>
    <a href="#"><button class="add-to-cart-btn"><i class="fa fa-remove"></i> delete</button></a>
  </div>

{% endblock %}
