{% extends 'shop/base.html' %}
{% load static %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- Main img -->
				<div class="col-md-5 col-md-push-0">
					<div id="product-main-img">
						<img src="{{ modelo.imagem }}" alt="">
					</div>
				</div>
				<!-- /Main img -->

				<!-- Thumb imgs -->
				<div class="col-md-2  col-md-pull-5">
					<div id="product-imgs">
						<div class="product-preview">
							<img src="{{ modelo.imagem }}" alt="">
						</div>
						<div class="product-preview">
							<img src="{{ modelo.imagem }}" alt="">
						</div>
						<div class="product-preview">
							<img src="{{ modelo.imagem }}" alt="">
						</div>
					</div>
				</div>
				<!-- /Thumb imgs -->

				<!-- Details -->
				<div class="col-md-5">
					<div class="product-details">

						<h2 class="product-name">{{ modelo.nome }}</h2>
						<div>
							{% if discount.percentage == 0 %}
								<h3 class="product-price">${{ modelo.preco }}</h3>
							{% else %}
								<h3 class="product-price">${{ discount.price }} <del class="product-old-price">${{ modelo.preco }}</del></h3>
							{% endif %}

							{% if modelo.discount >= 50 %}
								<span class="product-available">Best Offer</span>
							{% endif %}
						</div>

						<div class="product-options">
							<h2 class="product001">Unidades em:</h2>
							{% for e in em_loja %}
								<h2 class="product-name"><a href="{% url 'get_loja' e.loja_id %}">{{ e.nome }}</a>:{{ e.unidades }}</h2>
							{% endfor %}
						</div>

						<br/>
						<br/>

						<div class="add-to-cart">
							<a href="{% url 'edit_modelo' id %}"><button class="add-to-cart-btn"><i class="fa fa-edit"></i> edit</button></a>
							<a href="{% url 'remove_modelo' id %}"><button class="add-to-cart-btn"><i class="fa fa-remove"></i> delete</button></a>
						</div>

						<ul class="product-links">
							<li>Categoria:</li>
							<li><a href="{% url 'list_categoria' modelo.categoria %}">{{ modelo.categoria }}</a></li>
						</ul>

						<ul class="product-links">
							<li>Share:</li>
							<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
						</ul>

					</div>
				</div>
				<!-- /Details -->

				<!-- Details tab -->
				<div class="col-md-12">
					<div id="product-tab">
						<!-- tab nav -->
						<ul class="tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Descrição</a></li>
							<li><a data-toggle="tab" href="#tab2">Detalhes</a></li>
						</ul>
						<!-- /tab nav -->

						<!-- tab content -->
						<div class="tab-content">
							<!-- tab1  -->
							<div id="tab1" class="tab-pane fade in active">
								<div class="row">
									<div class="col-md-6" align="center">
										<img src="{{ wiki_modelo.image }}" alt="" height="40%" width="40%" />
									</div>
									<div class="col-md-13" align="center" text-align="center">
										<h3><strong>Nome</strong></h3>
										<p>{{ wiki_modelo.label_pt }}</p>
										<br/>
										<h3><strong>Descrição</strong></h3>
										<p>{{ wiki_modelo.modeloDescription }}</p>
									</div>
								</div>
							</div>
							<!-- /tab1  -->

							<!-- tab2  -->
							<div id="tab2" class="tab-pane fade in">
								<div class="row">
									<div class="col-md-12" align="center">
										{% for k,v in modelo.items %}
											<p><strong>{{ k }}:</strong> {{ v }}</a></p>
										{% endfor %}
									</div>
								</div>
							</div>
							<!-- /tab2  -->
						</div>
						<!-- /tab content  -->

					</div>
				</div>
				<!-- /Details tab -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- Section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- Set of items -->
				<div class="col-md-12">
					<div class="section-title text-center">
						<h3 class="title">Modelos Relacionados</h3>
					</div>
				</div>

				{% for e in type_modelos %}
					<div class="col-md-3 col-xs-6">
						{% include 'shop/includes/produto_items.html' %}
					</div>
				{% endfor %}
				<!-- /Set of items -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /Section -->
{% endblock %}
