{% extends 'shop/base.html' %}
{% load static %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- Product main img -->
				<div class="col-md-5 col-md-push-0">
					{% for e in loja %}
						{% if e.0 == 'nome' %}
							<div id="product-main-img">
								<img src="/static/shop/img/lojas/{{ e.1 }}.jpg" alt="">
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<!-- /Product main img -->

				<!-- Product thumb imgs -->
				<div class="col-md-2  col-md-pull-5">
				</div>
				<!-- /Product thumb imgs -->

				<!-- Product details -->
				<div class="col-md-5">
					<div class="product-details">

						{% for e in loja %}
							{% if e.0 == 'nome' %}
								<h2 class="product03">{{ e.1 }}</h2>
							{% endif %}
							{% if e.0 == 'grupo' %}
								<h3 class="product-name">{{ e.1 }}</h3>
							{% endif %}
							{% if e.0 == 'detalhes' %}
								<br/>
								<h3 class="product-name">{{ e.1 }}</h3>
							{% endif %}
							{% if e.0 == 'rua' %}
								<h3 class="product-name">{{ e.1 }}</h3>
							{% endif %}
							{% if e.0 == 'codigopostal' %}
								<h3 class="product-name">{{ e.1 }}</h3>
							{% endif %}
							{% if e.0 == 'distrito' %}
								<h3 class="product-name">{{ e.1 }}</h3>
							{% endif %}
							{% if e.0 == 'pais' %}
								<h3 class="product-name">{{ e.1 }}</h3>
							{% endif %}
							{% if e.0 == 'telefone' %}
								<br/>
								<h3 class="product-name">{{ e.1 }}</h3>
							{% endif %}
							{% if e.0 == 'fax' %}
								<h3 class="product-name">{{ e.1 }}</h3>
							{% endif %}
							{% if e.0 == 'email' %}
								<h3 class="product-name">{{ e.1 }}</h3>
							{% endif %}
							{% if e.0 == 'website' %}
								<h3 class="product-name">{{ e.1 }}</h3>
							{% endif %}
						{% endfor %}

						<br/>
						<br/>

						<div class="add-to-cart">
							<a href="{% url 'edit_loja' id %}"><button class="add-to-cart-btn"><i class="fa fa-edit"></i> edit</button></a>
							<a href="{% url 'remove_loja' id %}"><button class="add-to-cart-btn"><i class="fa fa-remove"></i> delete</button></a>
						</div>

						<ul class="product-links">
							<li>Share:</li>
							<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
						</ul>

					</div>
				</div>
				<!-- /Product details -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- Section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="section-title text-center">
						<h3 class="title">Produtos vendidos aqui</h3>
					</div>
				</div>

				{% for e in modelos %}
					<!-- product -->
					<div class="col-md-3 col-xs-6">

						{% include 'shop/includes/produto_item.html' %}

					</div>
					<!-- /product -->
				{% endfor %}

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /Section -->
{% endblock %}
