{% extends 'shop/base_index.html' %}

{% block content %}

<ul>
  {% for e in modelo %}
  <li>{{ e.0 }} : {{ e.1 }}</a></li>
  {% endfor %}
</ul>

<ul>
  {% for loja_id, loja in em_lojas.items %}

    {% for e in loja %}

      <li>
        {{ e.0 }} :
        {% if e.0 == 'nome' %}
          <a href="{% url 'get_loja' loja_id %}">{{ e.1 }}</a>
        {% else %}
          {{ e.1 }}
        {% endif %}
      </li>

    {% endfor %}

  {% endfor %}
</ul>

<a href="{% url 'edit_modelo' id %}">edit</a>
<a href="{% url 'remove_modelo' id %}">delete</a>

{% endblock %}
