{% extends 'shop/base.html' %}
{% load static %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- Main img -->
				<div class="col-md-5 col-md-push-0">
					<div id="product-main-img">
						<img src="{{ loja.imagem }}" alt="">
					</div>
				</div>
				<!-- /Main img -->

				<!-- Thumb imgs -->
				<div class="col-md-2  col-md-pull-5">
				</div>
				<!-- /Thumb imgs -->

				<!-- Details -->
				<div class="col-md-5">
					<div class="product-details">

						<h2 class="product03">{{ loja.nome }}</h2>
						<h3 class="product-name">{{ loja.grupo }}</h3>
						<br/>
						<h3 class="product-name">{{ loja.detalhes }}</h3>
						<h3 class="product-name">{{ loja.rua }}</h3>
						<h3 class="product-name">{{ loja.codigopostal }}</h3>
						<h3 class="product-name">{{ loja.distrito }}</h3>
						<h3 class="product-name">{{ loja.pais }}</h3>
						<br/>
						<h3 class="product-name">{{ loja.telefone }}</h3>
						<h3 class="product-name">{{ loja.fax }}</h3>
						<h3 class="product-name">{{ loja.email }}</h3>
						<h3 class="product-name">{{ loja.website }}</h3>

						<br/>
						<br/>

						<div class="add-to-cart">
							<a href="{% url 'edit_loja' id %}"><button class="add-to-cart-btn"><i class="fa fa-edit"></i> edit</button></a>
							<a href="{% url 'remove_loja' id %}"><button class="add-to-cart-btn"><i class="fa fa-remove"></i> delete</button></a>
						</div>

						<ul class="product-links">
							<li>Share:</li>
							<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
						</ul>

					</div>
				</div>
				<!-- /Details -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- Section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- Set of items -->
				<div class="col-md-12">
					<div class="section-title text-center">
						<h3 class="title">Produtos vendidos aqui</h3>
					</div>
				</div>

				{% for e in modelos %}
					<div class="col-md-3 col-xs-6">
						{% include 'shop/includes/produto_items.html' %}
					</div>
				{% endfor %}
				<!-- /Set of items -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /Section -->
{% endblock %}
