{% extends 'shop/base.html' %}
{% load static %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- STORE -->
				<div id="store" class="col-md-12">
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="store-sort">

							<form method="post">
							  {% include 'shop/includes/form.html' %}
							</form>

						</div>
					</div>
					<!-- /store top filter -->


					<!-- store products -->
					<div class="row">
						<!-- product -->
						{% for e in modelos %}
							<div class="col-md-4 col-xs-6">

								{% include 'shop/includes/produto_item.html' %}
								
							</div>
						{% endfor %}
						<!-- /product -->

					</div>
					<!-- /store products -->

				</div>
				<!-- /STORE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
{% endblock %}
